@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


body {
    overflow: visible;
}

.scroll-snap-container {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scrollbar-width: none; /* hide scroll bar by default on web browsers */
    -ms-overflow-style: none; /* hide on IE */
    white-space: nowrap;  
    touch-action: pan-x;
    margin-right: 28px;
    margin-left: 45px;
}

.nav-item {
    @apply w-fit h-fit bg-slate-100 rounded-lg cursor-pointer hover:bg-slate-200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 40px;
    max-height: 35px;
    padding: 10px;
    scroll-snap-align: start;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.nav-item-active {
    background-color: black;
    color: white;
}
.nav-item-active:hover {
    background-color: black;
}

.btn-scroll-left {
    background-color: transparent;
    color: rgb(156, 148, 148);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    
}
.btn-scroll-left:hover {
    background-color: rgb(226, 232, 240);
}
#btn-scroll-left-after {
    width: 60px;
    height: 40px;
    z-index: 60;
    background: linear-gradient(to right, rgb(255, 255, 255) 40%,rgba(255,255,255,0) 90%);
}

.btn-scroll-right {
    background-color: transparent;
    color: rgb(156, 148, 148);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    
}
.btn-scroll-right:hover {
    background-color: rgb(226, 232, 240);
}
#btn-scroll-right-before {
    width: 60px;
    height: 40px;
    transform: translateY(-54%);
    z-index: 60;
    background: linear-gradient(to left, rgb(255, 255, 255) 20%,rgba(255,255,255,0) 90%);
} 


.title {
    width: 50%;
    text-align: center !important;
    margin-top: 20px;
}

.custom-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}
.custom-text-side-nav {
    max-width: 60%;
    overflow: hidden;
  }
  
.custom-text-side-nav p {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}


.overlay {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}
.active {
    background-color: rgb(240, 240, 240);
    font-weight: bold;
}
#scroll-side-nav {
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}
#scroll-side-nav::-webkit-scrollbar {
    width: 8px; 
}
#scroll-side-nav {
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

#scroll-side-nav::-webkit-scrollbar-thumb {
    background-color: #93979b; 
    border-radius: 7px;
    height: 10px;
}

#wrapper-contents-container {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: 10px;
    scrollbar-color: #515558;
    
}

#wrapper-contents-container {
    scrollbar-width: thin;
    scrollbar-color: #515558 transparent;
    scroll-behavior: smooth;
}

#wrapper-contents-container::-webkit-scrollbar {
    width: 8px; 
}

#wrapper-contents-container::-webkit-scrollbar-thumb {
    background-color: #515558; 
    border-radius: 7px; 
    
}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .scroll-snap-container::-webkit-scrollbar {
    display: none!important;
    height: 0;
    width: 0;
    background-color: transparent;
     }
}

.videoWrapper {
    @apply w-[100%] h-full flex flex-col items-center mt-10 rounded-xl overflow-hidden text-center ;
}
.iframe {
    @apply rounded-xl; 
}
.side-nav-wrapper-icon {
    @apply flex items-center px-[11px] py-[6px] rounded-xl gap-[26px] text-[#0f0f0f] cursor-pointer;
}
.side-nav-wrapper-icon:hover {
    background-color: rgb(240, 240, 240);
}
.side-nav-wrapper-items-active {
    background-color: rgb(240, 240, 240);
}
.side-nav-text-active {
    font-weight: bold;
}


  


  


/* <div class= "md:w-full md:h-[195px] bg-black" src="${videoPlayerSrc}">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw  text-white"></i><span class="sr-only">Loading...</span>
                    </div> */